:root {
  --super-light: #f8f8f8;
  --middle: #b8b8b8;
  --dark-grey: #787878;
  --dark-mode: #121212;
  --win: rgba(106, 176, 76, 0.9);
  --lose: rgba(235, 77, 75, 0.9);
}

body,
a {
  background-color: var(--dark-mode);
  color: var(--super-light) !important;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  letter-spacing: 0.125rem;
}

p {
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  color: var(--super-light);
  margin: 2.5rem 0;
  text-align: center;
}

h2 {
  font-size: 1.375rem;
  color: var(--super-light);
  text-align: center;
  margin: 0;
}

h3 {
  color: var(--middle);
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 1.125rem;
  margin: 0;
  margin: 0 0.3rem;
}

.window {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 3.125rem auto;
  width: 44rem;
  border-radius: 0.625rem;
  padding: 3.4rem;
  background-color: rgba(18, 18, 18, 0.8);
  -webkit-box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.7);
}

.separation {
  background-color: #383838 !important;
  height: 0.06rem;
  width: 28rem;
  margin: 0 auto;
  padding: 0 !important;
}

/***************************************************************************** navbar */
.navigation {
  position: static;
  height: 3.8rem;
  padding: 0.63rem;
  background-color: #151515 !important;
}

.header-title-img {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  background-color: #151515;
}

.header-img {
  width: 2.5rem;
}

.header-title {
  padding: 0.32rem;
}

.item-header {
  align-self: baseline !important;
  margin: 0 0.9rem !important;
}

.item-header:hover {
  color: var(--middle) !important;
}

/******************************************************************** menu */
.menu-img {
  width: 7.8rem;
}

.dropdown {
  width: 16rem;
  margin: 1.25rem auto;
}

.menu-level {
  margin-top: 2.2rem;
}

.menu-level-button {
  margin: 4px !important;
  height: 45px;
  width: 105px;
}

/*************************************************************************** scores */
.score-card {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  width: 50rem;
  padding: 0.625rem;
}

.score-table {
  margin: auto;
}

.score-position-img {
  width: 2.2rem;
}

table {
  color: var(--middle) !important;
}

thead {
  color: var(--dark-grey);
  font-size: 1.1rem;
}

td {
  text-align: center !important;
  padding: 0.75rem !important;
  margin: 0 !important;
}

.score-question {
  display: inline;
  color: var(--dark-grey);
}

.score-explanation {
  width: 28.125rem;
  margin: 0.625rem auto !important;
}

.score-question:hover {
  color: var(--middle);
  cursor: pointer;
}

.score-schema {
  display: flex;
  flex-direction: column;
}

.schema-percentage td {
  width: 6.25rem;
}

.schema-points {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: auto;
  width: 23rem;
}

.interval-score {
  height: 0.063rem;
  width: inherit;
  background-color: #383838;
}

/******************************************************************* game */
.game-img {
  width: 5rem;
  float: left;
}

.game-title {
  margin: 0 2.5rem 0;
}

.game-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 1.9rem;
}

.game-info-element {
  display: flex;
  justify-content: center;
}

.element-name {
  color: var(--middle);
}

.element-content {
  color: var(--dark-grey);
}

.game-pattern {
  text-align: center;
}

.game-flag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19rem;
  margin: 0;
}

.game-flag img {
  width: 19rem;
  max-height: 18rem;
}

.game-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.country-button {
  margin: 0.75rem !important;
  height: 4.25rem;
  font-size: 1.1rem !important;
  letter-spacing: 0.1rem;
}

.win {
  background-color: var(--win);
}

.wrong {
  background-color: var(--lose);
}

/********************************************************************* end game */
.end-game-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.end-game-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0 2.5rem;
  color: var(--middle);
}

.end-game-points {
  margin-bottom: 2.5rem !important;
  color: var(--dark-grey);
}

.end-game-icon {
  width: 2.5rem;
  margin: 0 0.6rem;
}

.end-game-footer {
  margin-top: 2.5rem;
}

.end-game-footer p {
  font-size: 1.125rem;
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 1.25rem;
}

.wrong-answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.125rem;
}

.wrong-answers-flag {
  width: 3.125rem;
  margin: 0.35rem auto;
}

.wrong-answers-country {
  text-align: left;
  color: var(--dark-grey);
  font-size: 0.875rem;
  margin: auto 0 !important;
}

/******************************************* responsive */
@media (max-width: 850px) {
  /*large tablet*/
  .score-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 28.125rem;
    padding: 0.625rem;
  }
  .score-table {
    margin: 2.5rem auto;
  }
  .score-filter {
    margin: 0 !important;
    display: flex;
    justify-content: center;
    border: none !important;
  }
}

@media (max-width: 720px) {
  /*small tablet*/
  .card {
    width: 31.25rem;
  }
  .separation {
    width: 20.313rem;
  }
  .game-flag {
    height: 15.625rem;
  }
  .game-flag img {
    width: 16.875rem;
    max-height: 14.063rem;
  }
}

@media (max-width: 515px) {
  /* smartphone */
  h1 {
    font-size: 1.375rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4 {
    font-size: 1rem;
  }
  /*navbar*/
  .navigation {
    margin: 0 !important;
  }
  .item-header {
    margin: 0 !important;
  }
  /*cards*/
  .card {
    width: 100vw;
    border-radius: 0;
    background-color: rgba(18, 18, 18, 0.3);
    -webkit-box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0);
    padding: 3.125rem 0 0 !important;
  }
  .menu-card {
    margin: 0;
  }
  .game-card {
    padding: 1.875rem;
  }
  .score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.6);
  }
  /*game*/
  .game-img {
    width: 0;
  }
  .game-flag {
    height: 11.25rem;
    margin: 0.938rem 0 0;
  }
  .game-flag img {
    width: 13.75rem;
    max-height: 10.938rem;
  }
  .game-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
  }
  .country-button {
    height: 3.75rem;
    width: 15rem;
    font-size: 0.875rem !important;
    margin: 0.438rem !important;
  }
  /*scores*/
  .score-table {
    min-height: 10.938rem;
  }
  .score-explanation {
    width: 80vw;
  }
  .score-schema {
    width: 70vw;
  }
  .schema-points {
    width: 60vw;
    display: flex;
  }
  td {
    padding: 0.063rem !important;
    width: 4.7rem !important;
  }
  .score-position-img {
    width: 1.563rem;
  }
}
